<h1>Project Index View</h1>

<h3>Frequently Visited</h3>

<h3>All Your Projects</h3>
<% @projects.each do |project| %>
  <div class="responsive">
    <%= link_to project_path(project) do %>
      <div class="gallery">
        <%# Project Name should be dynamic %>
        <%= image_tag("avatar.jpg") %>
        <div class="desc"><%= truncate(project.name, length:50) %></div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="clearfix"></div>

<%= link_to "New Project", new_project_path if policy(Project).new?%>
