.home_page {
  padding: 60px 0px;
  width: 100%;
}

.home_page h2 {
  font-size: 2em;
  color: #333;
}

.home_page p {
  font-size: 1.5em;
  color: #333;
  padding: 20px 0;
}

.home_page img {
  width: 100%;
  height: auto;
}
