nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 100px;
  overflow: hidden;
  background-color: #013d1c;
}

nav .logo a {
  font-size: 32px;
  font-weight: bold;
  color: white!important;
  text-transform: uppercase;
  float: left;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-align: left;
}

nav ul {
  float: right;
  margin-right: -40px;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  color: white;
  font-size: 16px;
  /* text-align: center; */
  padding: 0px 30px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #248232;
  transition: all 0.3s ease;
}

nav .active {
  background-color: #248232;
}

/* Drop down styling */
nav li a, .dropbtn {
  display: inline-block;
}

nav li.dropdown {
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: inherit;
  margin-right: 8px;
}

nav .dropdown-content a {
  color: black;
  padding: 0px 16px;
  display: block;
  text-align: left;
  line-height: 60px;
}

nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown styling */
