.scrollable-table {
  overflow-y: auto;
  height: 500px;
  margin: 0;
  /* Use this along with tr to snap it back so whole row is shown */
  /* scroll-snap-type: y mandatory; */
}

.table {
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
  font-size: 14px;
}

.table th {
  position: sticky;
  top: 0;
  background-color: #248232;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 6px, 6px;
  font-weight: normal;
}

/* Doesn't work because each tbody is self-contatined because of js controller */
/* .table tr:nth-of-type(even) {
  background-color: black;
} */

.table tr {
  /* scroll-snap-align: start; */
}
